header{
	background-color: #333;
	color: coral;
	padding: 20px;
	line-height: 2.5em;
}
header h1{
	margin: 0;
}
.navbar{
	border-radius: 0;
	-moz-border-radius:0;
	margin-bottom: 0;
}
article {
	line-height: 1.5em;
}